body{
   display: flex;
   flex-direction: column;
}

table
{
  width: 100%;
}

th
{
  background: #273b47;
  color: white;
  padding: 10px 20px;
  text-align: start;
}

td
{
  padding: 20px;
}

table,td
{
  border: 1px solid #273b47;
  border-collapse: collapse;
}

.tabla
{
  padding: 50px 0;
  flex: 1;
}

@media screen and (max-width: 800px){

  .tabla{
    margin: 50px 20px;
  }
  .tabla .contenedor{
    overflow: auto;
    border: 1px solid #273b47;
  }

  .tabla .contenedor::-webkit-scrollbar{
    height: 7px;
  }

  .tabla .contenedor::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #273b47;
  }

}

@media screen and (max-width: 500px){
  .logotipo{
    margin: 50px 0;
  }
}